.SearchPage {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SearchPageContainer {
  width: var(--defualtwidth);
  min-height: calc(100vh - 80px);
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  flex-direction: column;
  padding-top: 10px;
  padding-inline: 10px;
}


